@page
@model LoyaltySoftware.Pages.Register.registerModel
@{
}

<h1>Register an account with us to get started!</h1>

<div>
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label>First Name</label>
                <input asp-for="UserRecord.first_name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input asp-for="UserRecord.last_name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Date Of Birth (YYYY/MM/DD)</label>
                <input asp-for="UserRecord.dob" class="form-control" />
            </div>

            <div class="form-group">
                <label>Telephone Number</label>
                <input asp-for="UserRecord.telephone" class="form-control" />
            </div>

            <div class="form-group">
                <label>Email Address</label>
                <input asp-for="UserRecord.email" class="form-control" />
            </div>

            <div class="form-group">
                <label>Country</label>
                <input asp-for="AddressRecord.country" class="form-control" />
            </div>

            <div class="form-group">
                <label>County</label>
                <input asp-for="AddressRecord.county" class="form-control" />
            </div>

            <div class="form-group">
                <label>Street Name</label>
                <input asp-for="AddressRecord.street_name" class="form-control" />
            </div>

            <div class="form-group">
                <label>Street Number</label>
                <input asp-for="AddressRecord.street_number" class="form-control" />
            </div>

            <div class="form-group">
                <label>Post Code</label>
                <input asp-for="AddressRecord.postcode" class="form-control" />
            </div>

            <div class="form-group">
                <label>Username</label>
                <input asp-for="UserAccountRecord.username" class="form-control" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input asp-for="UserAccountRecord.password" class="form-control" />
            </div>

            <br />
            <div>
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>





        </form>
</div>